
a{text-decoration:none;}
body {
	background:url(http://f.picphotos.baidu.com/album/s%3D1600%3Bq%3D90/sign=1793ad56b67eca8016053de1a113acac/0eb30f2442a7d9336d17ef06ab4bd11373f00103.jpg) no-repeat 100%;
	background-size: 100%;
	font-family: 'open_sanslight';
	font-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.copy_right  {
	color: #fff;
	font-size: 1.25em;
	line-height: 1.8em;
	padding: 5em 0px 0px 0px;
	font-family: 'open_sansregular';
	text-align: center;
}
.copy_right a {
	color:#0DF0FA;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy_right a:hover {
	color:#fff;
}
